.keyword {
  background: hsl(0, 3%, 93%);
  border-radius: 16px;
  padding: 0.8em;
  margin: 0.5em;
  margin-right: 1em;
  display: flex;
  width: fit-content;
  align-items: center;
  height: 24px;
}

.keywordText {
  width: 100%;
  margin-right: 10px;
  font-size: 1em;
}

.button {
  width: 24px;
  height: 24px;
  margin: 0;
  background: none;
  border: none;
  padding: 0;
}

.deleteButtonIcon {
  color: hsl(0, 0%, 54%);
  width: 24px;
  height: 24px;
}
