.keyword {
  border-radius: 16px;
  margin: 0.5em;
  margin-right: 1em;
  padding: 0.6em 0.8em 0.6em 0.8em;
  display: flex;
  width: fit-content;
  align-items: center;
  height: 24px;
}

.keywordDelete {
  background: hsl(0, 3%, 93%);
  color: hsl(0, 0%, 25%);
}

.keywordAdd {
  background: hsl(209, 100%, 96%);
  color: hsl(202, 15%, 25%);
}

.keywordNone {
  background: hsl(0, 3%, 93%);
  border-radius: 8px;
  margin: 0;
}

.keywordText {
  width: 100%;
  font-size: 1em;
}

.button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.deleteButtonIcon {
  color: hsl(0, 0%, 44%);
  width: 22px;
  height: 22px;
  margin-top: 1px;
}

.addButtonIcon {
  color: hsl(202, 14%, 31%);
}
