.settingsPage {
  width: 50vw;
  height: 70vh;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  gap: 32px;
}

.headerButtons {
  display: flex;
  margin-left: auto;
  gap: 32px;
}

.backButton {
  margin-left: -96px;
}
