.settingsPage {
  width: 50vw;
  height: 70vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.headerButtons {
  display: flex;
  gap: 32px;
}
