.arrowContainer {
    width: 8vw;
    height: 9vh;
    line-height: 8.4vh;
    position: relative;
    vertical-align: center;
}

.daysContainer {
    width: 84vw;
    height: 9vh;
    border-top: 0.4vh solid gray;
    border-bottom: 0.4vh solid gray;
    display: flex;
}

.arrow {
    height: 30px;
    padding: 0;
    margin: 0;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.timelineBarContainer {
    z-index: 1;
    padding: 0;
    margin: 0;
    margin-top: 15vw;
    display: flex;
    max-width: 100vw;
    align-self: center;
    align-content: center;
}

.dayContainerBox {
    padding: 0;
    margin: 0;
    width: 14.3%;
}

.weekdayInitial {
    display: none;
    padding: 0;
    margin: 0;
}

.weekdayText {
    padding: 0;
    margin: 0;
    margin-top: 8.5%;
    font-weight: 600;
    font-size: 1.95vh;
}

.dateText {
    padding: 0;
    margin: 0;
    margin-top: 1%;
    font-size: 1.37vh;
}