.container{
    width: 20%;
    height: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    min-width: 500px;
    min-height: 300px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headerText{
    padding-top: 34px;
    padding-bottom: 46px;
}

.footer{
    text-align: center;
    padding-top: 50px;
    color: hsl(0, 0%, 62%);
}
