.container {
  background: hsl(0, 0%, 85%);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
}

.pyramids {
  display: flex;
  margin-left: 3%;
  align-items: center;
  justify-content: space-between;
  width: 12%;
  text-align: left;
}

.pyramids h1 {
  font-size: 1.3rem;
}

.logo {
  height: 32px;
}

.pages {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.container a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.container a:hover {
  margin-top: 1.5px;
  border-bottom: 2px solid hsl(203, 88%, 47%);
}

.container a.active {
  margin-top: 1.5px;
  border-bottom: 2px solid hsl(203, 88%, 27%);
}

.container h1 a:hover {
  margin-top: 0;
  border: none;
}

.loginLink {
  border-radius: 12px;
  height: 32px;
  width: 32px;
  margin-right: 3%;
  margin-left: 5%;
  background-size: cover;
}

.loginLink.active {
  border-bottom: none;
  outline: 2px solid hsl(203, 88%, 27%);
}