body {
    margin: 0;
    padding: 0;
}

.container {
    color: black;
    text-align: center;
}

.timelineBar {
    z-index: 1;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 100vw;
    align-content: center;
    background-color: pink;
}

.daysContainer {
    width: 84vw;
    height: 9vh;
    border-top: 0.4vh solid gray;
    border-bottom: 0.4vh solid gray;
    display: flex;
}

.arrowContainer {
    width: 8vw;
    height: 9vh;
    font-size: 2.34vw;
    vertical-align: center;
    line-height: 8.4vh;
}

.arrowTextLeft {
    padding: 0;
    margin: 0;
    margin-right: 20%;
    text-align: right;
}

.arrowTextRight {
    padding: 0;
    margin: 0;
    margin-left: 20%;
    text-align: left;
}

.dayContainerBox {
    padding: 0;
    margin: 0;
    width: 14.3%;
}

.weekdayText {
    padding: 0;
    margin: 0;
    margin-top: 8.5%;
    font-weight: 600;
    font-size: 1.95vh;
}

.dateText {
    padding: 0;
    margin: 0;
    margin-top: 1%;
    font-size: 1.37vh;
}

