.calendarCellWrapper {
    width: 14vw;
    height: calc(75vh/6);
}

.calendarCellHeader {
    height: calc((75vh/6)/3);
    width: 100%;
    border-top: 2px solid hsl(0, 0%, 85%);
    border-bottom: 2px solid hsl(0, 0%, 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateElement {
    font-size: 0.875rem;
}
.eventSpace{
    height: 100%;
}