.container {
  display: flex;
}

.description {
  line-height: 160%;
  padding-left: 20px;
  padding-right: 20px;
}


.error{
  padding: 10px;
  color: hsl(0, 100%, 64%);
  font-weight: bold;
}

.fileName{
  margin-top: 0;
  margin-left: 0;
  font-size: 15px;
}

.main {
  width: 40vw;
  min-width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-bottom: 24px;
  font-weight: bolder;
}

.plusIcon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.photoArea {
  margin-bottom: 36px;
}

.photo {
  border: 4px hsl(0, 0%, 85%) dashed;
  height: 120px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 60%);
}

.photo:active, .photo:focus, .photo:hover, .photoDragged {
  border-color: hsl(249, 88%, 60%);
  color: hsl(249, 88%, 60%);
}

.cameraIcon {
  height: 42px;
  width: 42px;
  margin: 12px;
}

.field {
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}

.textInput {
  background-color: hsl(0, 0%, 93%);
  color: hsla(0, 0%, 0%, 30%);
  height: fit-content;
  min-height: 48px;
  font-size: 18px;
  border-radius: 8px;
  padding: 14px;
  margin-top: 10px;
  margin-bottom: 34px;
}

.thumbnail {
  width: 100px;
  margin-top: 10px;
}

.times {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.timeInput {
  width: 23vh;
}